p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: max-content;
}

p:first-of-type {
    font-size: 1.1rem;
    margin: 0 0 0 1rem;
    text-shadow: 3px 3px 5px black;
}

p:last-of-type {
    margin: 0;
    border: 5px dashed black;
    padding: 0.5rem;
    outline: 3px dashed gray;
    background-color: gray;
}

span {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}
