* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div,
a {
    margin: 5rem auto;
}

div,
p,
a {
    width: max-content;
}

p {
    text-align: center;
    margin: 5rem auto;
}

a {
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    display: block;
    border-bottom: 5px solid darkblue;
    padding: 1rem;
    color: whitesmoke;
    background-color: darkcyan;
}

a:hover {
    font-size: 1.5rem;
}
